* {
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  max-width: 1142px;
}

/*---HEADER---*/
header {
  max-width: 1320px;
  background-color: #171b51;
  min-height: 100px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.icon-image {
  margin-right: 0px;
}

header .text-icon {
  margin-left: 20px;
}

.text-icon {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: font-size 0.4s ease-in-out;
}

.menu-link:not(:last-child) {
  margin-right: 20px;
}

.menu-link:after {
  content: "";
  height: 1px;
  display: block;
  border-bottom: 3px solid #ffffff;
  width: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.menu-link:hover {
  text-decoration: none;
  font-size: 23px;
  transition: font-size 0.4s ease-in-out;
}

.menu-link:hover:after {
  width: 100%;
}

.try-button {
  margin-left: 30px;
  width: 194px;
  height: 44px;
  background: #4b9e24;
  border-radius: 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.try-button:hover {
  background: #24520f;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}

.menu-icon {
  cursor: pointer;
}

.menu-link-o {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

.opened-menu {
  position: absolute;
  top: -500%;
  width: 100%;
  max-width: 1320px;
  max-height: 444px;
  background-color: #1c259e;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: top 0.7s ease-in-out;
  z-index: 1;
}

.opened-menu.show {
  top: 100px;
}

.opened-menu .try-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.opened-menu hr {
  margin-bottom: 15px;
  margin-top: 15px;
}

.menu-icon-opened {
  cursor: pointer;
}

.try-button-a {
  text-decoration: none !important;
}
/*---ENDHEADER---*/

/*---SUBHEADER---*/
.subheader {
  max-width: 1320px;
  background-image: url("../images/subheader-background.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1-title {
  padding-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
  max-width: 784px;
  text-align: center;
}

.h2-title {
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 606px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.subheader a {
  max-width: 40px !important;
  width: 40px !important;
  margin: 0;
  text-decoration: none;
}

.arrow-down {
  display: block;
  padding-bottom: 15px;
  cursor: pointer;
}

.try-button.sub-h {
  width: 194px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/*---ENDSUBHEADER---*/

/*---ADVANTAGES---*/
.advantages {
  max-width: 1320px;
  background-image: url("../images/advantages-system-background.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.h1-name {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #000000;
}

.h2-name {
  margin-left: 0;
  margin-right: 0;
  display: block;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  max-width: 695px;
}

.advantages-list {
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  display: block;
  background: rgba(251, 251, 251, 0.5);
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 854px;
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage {
  margin-left: 0;
  margin-right: 0;
  max-width: 248px;
  margin-bottom: 30px;
}

.advantage-title {
  margin-top: 15px;
  max-width: 248px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.advantage-description {
  margin-top: 5px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

/*---ENDADVANTAGES---*/

/*---STATISTICS---*/
.statistic {
  max-width: 1320px;
  background: rgba(28, 37, 158, 0.09);
}

.statistic .h1-name {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.number-stat {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #1929ff;
  margin-bottom: 5px;
}

.info-stat {
  text-align: center;
  max-width: 338px;
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

/*---ENDSTATISTICS---*/

/*---FORMREQUEST---*/
.form-request {
  max-width: 1320px;
  background-image: url("../images/form-background.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-request .container {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-f {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
  text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.25);
  max-width: 516px;
  margin-bottom: 15px;
}

.subtitle-f {
  max-width: 516px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.start-form {
  max-width: 516px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 30px;
}

.form-title {
  max-width: 456px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 5px;
}

.form-title span {
  color: #1c259e;
}

.form-subtitle {
  max-width: 456px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 15px;
}

.form-subtitle span {
  color: #1c259e;
  font-weight: 700;
}

.form-r-input {
  width: 100%;
  max-width: 456px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-r-input.m15 {
  margin-bottom: 15px;
}

.account-name {
  display: flex;
  max-width: 456px;
}

.account-name .form-r-input {
  width: 100%;
  max-width: 322px;
}

.domain-name {
  width: 100%;
  max-width: 134px;
  line-height: 45px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 0 15px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

.checkbox-input {
  display: flex;
  margin-bottom: 15px;
}

.checkbox-input .checkbox-i {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  margin-right: 5px;
}

.accept-service-terms {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

.accept-service-terms a {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #1929ff;
}

.blue-try-button {
  width: 100%;
  height: 44px;
  max-width: 456px;
  background: #1929ff;
  border-radius: 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.blue-try-button:hover {
  background: #171b51;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}

/*---ENDFORMREQUEST---*/

/*---FOOTER---*/
footer {
  max-width: 1320px;
  background: #171b51;
  padding: 30px 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon-info .icon {
  width: 229px;
  margin: 0;
  justify-content: flex-start;
}

.icon-info {
  margin: 0;
  max-width: 248px;
}

.icon a {
  height: 60px;
}

.info-company-docs {
  margin-top: 15px;
}

.info-company-docs a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.info-company-docs a:not(:last-child) {
  margin-bottom: 5px;
}

.footer-flex-element {
  margin: 0;
  max-width: 248px;
}

.footer-links a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.footer-links a:not(:last-child) {
  margin-bottom: 5px;
}

.footer-links a:hover {
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.h2-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.white-hr {
  margin-top: 30px;
  margin-bottom: 15px;
}

.company-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.company-bio {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.social-icons a:not(:last-child) {
  margin-right: 15px;
}

/*---ENDFOOTER---*/

/*---BLOGSUBHEADER---*/
#subheader-blog {
  max-width: 1320px;
  background-image: url("../images/blog-background.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
  text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 60px;
}

.search-form {
  max-width: 606px;
}

.search-form input {
  position: relative;
  top: 34px;
  max-width: 606px;
  width: 100%;
  height: 65px;
  background: url("../images/search-icon.svg") no-repeat scroll 15px 20px;
  padding-left: 55px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

/*---ENDBLOGSUBHEADER---*/

/*---NEWS--*/
#news {
  max-width: 1320px;
}

#news .container {
  padding-top: 95px;
  padding-bottom: 60px;
}

.toggle-categories {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.toggle-categories div {
  margin: inherit;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.toggle-categories div:not(:first-child):not(:last-child) {
  margin-right: 35px;
  margin-left: 35px;
}

.toggle-categories div:first-child {
  margin-right: 35px;
}

.toggle-categories div:last-child {
  margin-left: 35px;
}

.selected-category {
  background: #1929ff;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  color: #ffffff !important;
  transition: 0.3s ease-in-out;
}

.last-news {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.last-news img {
  max-width: 536px;
  width: 100%;
  max-height: 351px;
  height: 100%;
  border-radius: 15px;
  margin: 0;
}

.news-category {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1929ff;
}

.last-news-info {
  max-width: 536px;
  margin: 0;
}

.news-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.last-news-info .news-title {
  font-size: 30px;
  line-height: 37px;
  margin-top: 15px;
}

.news-description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #646464;
}

.last-news-info .news-description {
  font-size: 24px;
  line-height: 29px;
  margin-top: 15px;
}

.last-news-info-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: 30px;
}

.blue-btn-read-more {
  width: 186px;
  height: 44px;
  background: #1929ff;
  border-radius: 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.blue-btn-read-more:hover {
  background: #171b51;
  font-size: 21px;
  transition: 0.3s ease-in-out;
}

.last-news-info-flex a,
.last-news-info-flex .reading-time,
.last-news-info-flex .last-news-views {
  margin: 0;
}

.reading-time,
.last-news-views {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.other-news {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.other-news img {
  max-width: 337px;
  width: 100%;
  max-height: 235px;
  width: 100%;
  border-radius: 15px;
}

.news-item {
  margin: 0;
  max-width: 337px;
  margin-bottom: 40px;
}

.other-news-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
}

.other-news-flex .reading-time {
  color: #b1b1b1;
}

.other-news-flex .news-category,
.other-news-flex .reading-time {
  margin: 0;
}

.other-news-info .news-title {
  font-size: 24px;
  line-height: 29px;
  margin-top: 15px;
}

.other-news-info .news-description {
  font-size: 21px;
  line-height: 26px;
  margin-top: 5px;
}

.other-news-info .blue-btn-read-more {
  margin-top: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination button,
.pagination .dots {
  margin: 0;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.selected-page {
  background: #1929ff !important;
  color: #ffffff;
  transition: 0.3s ease-in-out !important;
}

.prev-page {
  margin-right: 30px !important;
}

.next-page {
  margin-left: 30px !important;
}

.dots {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.dots img:nth-child(2) {
  margin: 0 11px;
}

.page-number:not(:nth-child(7)) {
  margin-right: 15px;
}

/*---ENDNEWS---*/

/*---SUBHEADERBLOGPAGE---*/
#subheader-blog-page {
  max-width: 1320px;
  background-image: url("../images/blogpage-background.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0 60px 0;
}

.blog-page-info {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blog-page-info div {
  margin: inherit;
}

.blog-page-info .reading-time {
  color: #bababa;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #bababa;
  margin: 0 15px !important;
}

.category-name {
  width: 160px;
  height: 44px;
  background: #522e1f;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 44px;
}

.header-blog-page {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
  margin-top: 15px;
  width: 100%;
}
/*---ENDSUBHEADERBLOGPAGE---*/

/*---BLOGPAGE---*/
#blog-page {
  margin: 60px 0;
}

#blog-page .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-page-item {
  margin: 0;
  max-width: 874px;
  width: 100%;
}

.blog-page-other {
  margin: 0;
  max-width: 248px;
  width: 100%;
}

.blog-page-new-content {
  margin: 0;
  max-width: 784px;
  width: 100%;
}

.blog-page-new-item {
  display: flex;
  justify-content: space-between;
}

.social-network-group {
  margin: 0;
}

.social-network-group a {
  margin: inherit;
  display: block;
}

.social-network-group a:not(:last-child) {
  margin-bottom: 15px;
}

.blog-h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

.blog-h2:not(:first-child) {
  margin-top: 30px;
}

.blog-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 15px;
}

.blog-post-image {
  margin-top: 15px;
}

.blog-post-image img {
  max-width: 784px;
  max-height: 444px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.blog-post-subtitle {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.blog-post-blockquote {
  display: flex;
  justify-content: space-between;
  max-width: 784px;
  width: 100%;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px;
}

.blockquote-icon {
  margin: 0;
  width: 41px;
  height: 41px;
}

.blockquote-text {
  max-width: 688px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.info-title-other {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
  margin-bottom: 30px;
}

.most-read {
  margin-bottom: 30px;
}

.most-read-news-item img {
  max-width: 248px;
  width: 100%;
  max-height: 173px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.most-read-news-item:not(:last-child) {
  margin-bottom: 30px;
}

.most-read-title {
  max-width: 248px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.most-read-title:after {
  content: "";
  height: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid #000000;
  width: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.most-read-title:hover:after {
  width: 100%;
}

.categories-other-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.category-other-name {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease-in-out;
}

.category-other-name:hover {
  font-size: 22px;
  font-weight: 650;
  transition: 0.3s ease-in-out;
}

.category-other-number {
  margin: 0;
  background: #522e1f;
  border-radius: 15px;
  width: 55px;
  height: 22px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}

.categories-other-hr {
  border: 1px solid #b1b1b1;
}

.categories-other-hr:not(:last-child) {
  margin-bottom: 15px;
}

.comments {
  margin-top: 60px;
}

.comments-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 30px;
}

.comment-item {
  display: flex;
  justify-content: space-between;
}

.comment-user-image {
  margin: 0;
  max-width: 90px;
  max-height: 90px;
  width: 100%;
  height: 100%;
}

.comment-content {
  margin: 0;
  margin-left: 20px;
}

.user-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;
}

.comment-publish-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.comment-publish-info div {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 18px;
}

.comment-date {
  margin-right: 15px !important;
  font-weight: 400;
  color: #b1b1b1;
}

.reply-comment {
  font-weight: 500;
  cursor: pointer;
}

.comment-message {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.comments-section hr {
  margin: 30px 0 30px 0;
  border: 1px solid #b1b1b1;
  background-color: #b1b1b1;
}

.comments-form {
  margin-top: 30px;
}

.comments-form-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 30px;
}

.send-message-form textarea {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 874px;
  width: 100%;
  height: 200px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 15px;
  resize: none;
  margin-bottom: 30px;
}

.blue-btn {
  background: #1929ff;
  border-radius: 15px;
  border: none;
  width: 157px;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.blue-btn:hover {
  background: #171b51;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}
/*---ENDBLOGPAGE---*/

/*---SIGNINUP---*/
#sign-in-up {
  max-width: 1320px;
  background-image: url("../images/sign-up-in-background.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sign-in-up .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

#sign-in-up .start-form {
  margin-top: 30px;
}

#sign-in-up .start-form .checkbox-i, #sign-in-up .start-form .accept-service-terms {
  margin: 0;
}

#sign-in-up .start-form .checkbox-i {
  margin-right: 5px;
}

.toggle-forms {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.toggle-forms div {
  margin: inherit;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.toggle-forms div:first-child {
  margin-right: 35px;
}

.selected-form {
  background: #1929ff;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  color: #ffffff !important;
  transition: 0.3s ease-in-out;
}

.c-p {
  padding-left: 10px!important;
  padding-right: 0!important;
}

.m30 {
  margin-bottom: 30px;
}

.form-title.m15 {
  margin-bottom: 15px;
}
/*---ENDSIGNINUP---*/


/*---OTHER---*/
.hidden {
  display: none;
}
/*---ENDOTHER---*/

/*---ADAPTIVEDESIGN---*/
/* 175% */
@media only screen and (max-width: 1100px) {
  .advantages .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .statistic .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .form-request .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .start-form {
    margin-top: 30px;
  }

  footer .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .stat:last-child {
    margin-top: 15px;
  }

  #news .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .last-news {
    justify-content: center;
  }

  .news-category {
    margin-top: 15px;
  }

  #subheader-blog-page .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  #blog-page .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .blog-page-other {
    max-width: 1320px;
    width: 100%;
  }

  .most-read-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1320px;
    width: 100%;
  }

  .most-read-news-item {
    margin: 0 !important;
    max-width: 248px;
    width: 100%;
  }

  .most-read-title {
    margin: 0;
    max-width: 248px;
    width: 100%;
  }

  .blog-page-item {
    margin-bottom: 30px;
  }

  #sign-in-up .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 894px) {
  .blog-page-new-content {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 839px) {
  .toggle-categories div:last-child {
    margin: 15px 35px 0 35px !important;
  }

  .pagination button {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }

  .dots img {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 803px) {
  .most-read-news-item:last-child {
    margin-top: 30px !important;
  }
}
/* 250% */
@media only screen and (max-width: 768px) {
  .footer-flex-element:last-child {
    margin-top: 30px;
  }

  .subheader .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .toggle-categories div:nth-child(4) {
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 734px) {
  .dots {
    width: 40px;
  }

  .dots img {
    width: 7px;
    height: 7px;
  }

  .dots img:nth-child(2) {
    margin: 0 5px !important;
  }

  .other-news {
    justify-content: center;
  }
}

@media only screen and (max-width: 705px) {
  .dots {
    width: 40px;
    margin: 0 7px !important;
  }

  .dots img {
    width: 6px;
    height: 6px;
  }

  .dots img:nth-child(2) {
    margin: 0 3px !important;
  }
}

@media only screen and (max-width: 643px) {
  .toggle-categories div:nth-child(3) {
    margin-left: 35px !important;
    margin-right: 0 !important;
  }

  .toggle-categories div:nth-child(4) {
    margin-top: 15px !important;
    margin-left: 35px !important;
    margin-right: 35px !important;
  }
}

/* 300% */
@media only screen and (max-width: 640px) {
  .stat:first-child {
    margin-bottom: 15px;
  }

  .pagination button {
    width: 40px !important;
    height: 40px !important;
    font-size: 21px;
  }

  .search-form {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 678px) {
  .footer-flex-element:nth-child(3) {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 557px) {
  .dots {
    width: 30px;
    margin: 0 7px !important;
  }

  .dots img {
    width: 6px;
    height: 6px;
  }

  .dots img:nth-child(2) {
    margin: 0 1px !important;
  }

  .prev-page {
    margin-right: 15px !important;
  }

  .next-page {
    margin-left: 15px !important;
  }

  .pagination button {
    font-size: 21px;
    width: 35px !important;
    height: 35px !important;
  }
}

@media only screen and (max-width: 555px) {
  .most-read-news-item:nth-child(2) {
    margin-top: 30px !important;
  }

  .most-read-news {
    justify-content: center;
  }

  .info-title-other {
    text-align: center;
  }
}

@media only screen and (max-width: 534px) {
  .reply .reply-comment {
    margin-top: 5px;
  }
}



@media only screen and (max-width: 524px) {
  .footer-flex-element:nth-child(2) {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 509px) {
  .dots {
    width: 30px;
    margin: 0 5px !important;
  }

  .dots img:nth-child(2) {
    margin: 0 1px !important;
  }

  .pagination button {
    font-size: 20px;
    width: 30px !important;
    height: 30px !important;
  }
}

@media only screen and (max-width: 504px) {
  .blog-page-info .reading-time {
    margin-top: 15px;
  }
}
/* 400% */
@media only screen and (max-width: 480px) {
  .footer-flex-element {
    width: 100%;
  }

  .advantage {
    margin-left: auto;
    margin-right: auto;
  }

  .advantage-icon {
    width: 99px;
  }

  .advantage-title {
    text-align: center;
  }

  .advantage-description {
    text-align: center;
  }

  .footer-flex {
    justify-content: center;
  }

  .footer-flex a {
    text-align: center;
  }

  .footer-flex .h2-footer {
    text-align: center;
  }

  .footer-flex .icon {
    margin-left: auto;
    margin-right: auto;
  }

  .social-icons {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .company-bio {
    text-align: center;
  }

  .toggle-categories div:first-child {
    margin-right: 25px !important;
  }

  .toggle-categories div:nth-child(2) {
    margin-right: 25px !important;
    margin-left: 25px !important;
  }

  .toggle-categories div:nth-child(3) {
    margin-left: 25px !important;
    margin-right: 0 !important;
  }

  .toggle-categories div:nth-child(4) {
    margin-top: 15px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
  }

  .toggle-categories div:last-child {
    margin-left: 25px !important;
  }

  .pagination button {
    width: 25px !important;
    height: 25px !important;
    font-size: 15px;
    padding: 0;
  }

  .pagination {
    height: 25px;
  }

  .comment-item.reply {
    flex-wrap: wrap;
    justify-content: center;
  }

  .reply .comment-content {
    margin-top: 15px!important;
    margin-left: 0!important;
  }

  .reply .user-name {
    text-align: center;
  }

  .reply .reply-comment {
    margin: 0!important;
  }

  .reply .comment-publish-info {
    justify-content: center;
  }
}

@media only screen and (max-width: 457px) {
  .last-news-info-flex .last-news-views {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 441px) {
  .toggle-categories div:nth-child(1) {
    margin: 0px 12px 0 12px !important;
  }

  .toggle-categories div:nth-child(2) {
    margin: 0px 12px 0 12px !important;
  }

  .toggle-categories div:nth-child(3) {
    margin: 0px 12px 0 12px !important;
  }
}

@media only screen and (max-width: 424px) {
  .reply .reply-comment {
    margin-top: 5px!important;
  }
}
@media only screen and (max-width: 413px) {
  .toggle-categories div:nth-child(1) {
    margin: 0 10px 0 10px !important;
  }

  .toggle-categories div:nth-child(2) {
    margin: 0px 10px 0 10px !important;
  }

  .toggle-categories div:nth-child(3) {
    margin: 0px 10px 0 10px !important;
  }

  .pagination button {
    width: 15px !important;
    height: 15px !important;
    font-size: 10px;
  }

  .dots {
    width: 30px;
    margin: 0 5px !important;
  }

  .prev-page {
    margin-right: 10px;
    margin-left: 10px;
  }

  .dots img {
    width: 6px;
    height: 6px;
  }

  .reply .comment-date {
    margin-right: 0!important;
  }
}

@media only screen and (max-width: 441px) {
  .date {
    margin: 0!important;
  }

  .category-name {
    margin-right: 15px!important;
  }
}

@media only screen and (max-width: 426px) {
  .date {
    margin-top: 15px!important;
    margin-right: 15px!important;
  }
}

@media only screen and (max-width: 412px) {
  .reply .comment-date {
    margin-right: 5px!important;
  }
}

@media only screen and (max-width: 411px) {
  .category-name {
    margin: 0!important;
  }

  .reply .comment-date {
    margin-right: 0px!important;
  }
}
@media only screen and (max-width: 401px) {
  .toggle-categories div:nth-child(1) {
    margin: 0 8px 0 8px !important;
  }

  .toggle-categories div:nth-child(2) {
    margin: 0px 8px 0 8px !important;
  }

  .toggle-categories div:nth-child(3) {
    margin: 0px 8px 0 8px !important;
  }
}

@media only screen and (max-width: 389px) {
  .toggle-categories div:nth-child(1) {
    margin: 0 25px 0 25px !important;
  }

  .toggle-categories div:nth-child(2) {
    margin: 0px 25px 0 25px !important;
  }

  .toggle-categories div:nth-child(3) {
    margin: 15px 25px 0 25px !important;
  }
  .toggle-categories div:nth-child(4) {
    margin: 15px 25px 0 25px !important;
  }
}

@media only screen and (max-width: 384px) {
  .pagination button {
    width: 20px !important;
    height: 20px !important;
    font-size: 10px;
  }
}
/*---ENDADAPTIVEDESIGN---*/
